:root {
  --primary-color: #2ECC40;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-size: 120%;
  font-family: "Open Sans";
  margin: 5px;
}

input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 30px;
  margin: 5px;
}

ul {
  list-style-position: inside;
}

.election-label {
  font-size: 120%;
}

.input-area {
  text-align: center;
  width: 100%;
}

.input-box {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
  padding: 10px;
  width: 100%;
}

.top-link {
  font-size: 110%;
}
.bottom-link {
  font-size: 90%;
}

.address-input {
  display: flex;
  flex-direction: column;
}

.results-recommendation {
  font-size: 150%;
}

.results-div {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.results-item {
  flex: 1;
  margin: 0 30px;
}

.results-row {
  display: flex;
  justify-content: space-between;
}

.zip-input {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

.credits {
  font-size: 30%;
}
