.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  background-color: #2ECC40;
  color: white;
  font-size: 120%;
  font-family: "Open Sans";
  border-radius: 5px;
}

input {
  height: 100%;
  /*border-radius: 5px;*/
}

.zip-input {
  display: grid;
  grid-template-columns: 33% 33% 33%;
	grid-template-rows: 100%;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
